<nav>
  <!-- <form action="/" method="get">
    <label for="filter">Title Filter</label>
    <input type="text" id="filter" name="title" value="" />
    <input type="submit" value="Submit" />
  </form> -->
  <a href="/">Home</a>
  <% if (user) { %>
  <form class="signout" action="signout" method="post"><button class="signout">Sign Out</button></form>
  <% } %>


</nav>