<nav>
  <form action="/" method="get">
    <label for="filter">Filter</label>
    <input type="text" id="filter" name="title" value="<%= origin || "" %>" />
    <input type="submit" value="Submit" />
  </form>
  <br /><a href="/new">New Message</a>
  <br /><a href="/new/random">Add Random Book</a>
</nav>