<nav>
  <form action="/" method="get">
    <label for="filter">Filter</label>
    <input type="text" id="filter" name="message" value="<%= origin || "" %>" />
    <input type="submit" value="Submit" />
  </form>
  <br /><a href="/new">New Message</a>
  <br /><a href="/new/random">Random Message</a>
  <br /><a href="/new/kristie">Kristie Message</a>
</nav>