<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Call 555-555-5555 to contact me!<br>
    <br><a href="./">Return to index page</a>

</body>
</html>