<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is the index page!
    <br><a href="./contact-me.ejs">Contact</a>
    <br><a href="./about.ejs">About me</a>
</body>
</html>