button {
  appearance: none;
  border: 0;
  background-color: rgb(red, green, blue, 0);
  cursor: pointer;
  display: inline;
}

button:hover {
  color: blue;
}

input,
form,
button,
label {
  display: inline-block;
}

.signin {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

button.delete {
  border: 2px black;
  border-radius: 10px;
}

.delete:hover {
  background-color: grey;
}

.book {
  border-radius: 20px;
  border: 2px grey;
  background-color: beige;
  margin: 10px;
  padding: 10px;
}

.book:hover {
  border: black;
  background-color: bisque;
}

.group {
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.group > * {
  margin: 10px;
}

.groupbutton {
  background-color: lightgrey;
  border: 1px solid black;
  color: black;
}

.groupbutton:hover {
  background-color: grey;
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: grey;
  padding: 10px;
  width: 100%;
  top: 0;
  position: fixed;
}

.main {
  margin-top: 20px;
  padding: 20px;
  background-color: lightgrey;
}

.signout {
  background-color: grey;
  border: 1px solid lightgrey;
  color: white;
  height: 100%;
}
.signout:hover {
  background-color: lightgrey;
  color: black;
}

.friend {
  font-size: xx-large;
  color: red;
}
